*migrations/* 
*migrations/ 
*env/ 
env/* 
*.directory 
*/.directory
app/core/reports/jasperbase.py
*.pdf
query_tsje_datos_migra.sql
backup_electoral_14092021.backup
requirements.txt
symmetricds.backup
