{% extends 'form.html' %}
{% load static %}
{% block head_form %}
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script src="{% static 'crm/client/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmForm"
          data-url="{{ list_url }}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    <input type="hidden" name="action" id="action" value="{{ action }}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Nombres:</label>
                                {{ form.first_name }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Apellidos:</label>
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Número de cedula:</label>
                                {{ form.dni }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Email:</label>
                                {{ form.email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Teléfono celular:</label>
                                {{ form.mobile }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Fecha de nacimiento:</label>
                                {{ form.birthdate }}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Dirección:</label>
                                {{ form.address }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Imagen:</label>
                                {% if instance %}
                                    {% if instance.user.image %}
                                        Actualmente:
                                        <a href="{{ instance.user.get_image }}">{{ instance.user.get_image }}</a>
                                        <input type="checkbox" name="image-clear" id="image-clear_id">
                                        <label for="image-clear_id">Limpiar</label><br>
                                        Modificar:
                                    {% endif %}
                                {% endif %}
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Consumidor final:</label><br>
                                <div class="checkbox">
                                    <label>{{ form.final_consumer }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
{% endblock %}