{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/spanish.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.0.5/daterangepicker.css' %}"/>
    <script src="{% static 'padron/carga_dia_d/js/list_carga_dia_d_elector_pc.js' %}"></script>
{% endblock %}

{% block box_header %}{% endblock %}


{% block columns %}
    <th style="width: 5%;">Mesa</th>
    <th style="width: 5%;">Orden</th>
    <th style="width: 10%;">CI</th>
    <th style="width: 75%;">Apellido y Nombre</th>    
    <th style="width: 75%;">Fecha y Hora</th>    
    <th style="width: 5%;" class="text-center">Opciones</th>
{% endblock %}

{% block javascript_list %}
    
{% endblock %}

{% block content_list_before %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Buscar por Cédula o Nombre y Apellido</label>
                        <div class="input-group input-group-search">
                            <input type="text" class="form-control" autocomplete="off" name="searchElector"
                                   placeholder="Ingrese Numero de Cédula o Nombre y/o Apellido">
                            <div class="input-group-append">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false"><i class="fas fa-tasks"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                    <a class="dropdown-item btnSearchElector"><i class="fas fa-sync"></i>
                                        Recargar Lista</a>
                                    <a class="dropdown-item btnClearElector"><i class="fas fa-times"></i>
                                        Limpiar búsqueda</a>
                                    <!-- <a class="dropdown-item btnRemoveAllElector"><i
                                            class="fas fa-trash-alt"></i> Borrar todo</a> -->
                                </div>
                            </div>
                        </div>
                    </div>                 
                </div>
            </div>     


{% endblock %}