{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'padron/carga_dia_d/js/list_carga_dia_d_elector_pc.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="card {{ dshboard.card }}">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-boxes"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body" style="display: block;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Buscar por Cédula o Nombre y Apellido</label>
                            <div class="input-group input-group-search">
                                <input type="text" class="form-control" autocomplete="off" name="searchElector"
                                       placeholder="Ingrese el nombre de un producto">
                                <div class="input-group-append">
                                    <button class="btn btn-primary dropdown-toggle" type="button"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false"><i class="fas fa-tasks"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                        <a class="dropdown-item btnSearchElector"><i class="fas fa-search"></i>
                                            Buscar Elector</a>
                                        <a class="dropdown-item btnClearElector"><i class="fas fa-times"></i>
                                            Limpiar búsqueda</a>
                                        <a class="dropdown-item btnRemoveAllElector"><i
                                                class="fas fa-trash-alt"></i> Borrar todo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table width="100%" class="table table-bordered table-striped display nowrap" id="tblElector">
                    <thead>
                    <tr>
                        <th style="width: 10%;">Eliminar</th>
                        <th style="width: 40%;">CI</th>
                        <th style="width: 40%;">Nombre</th>
                        <th style="width: 15%;">Apellido</th>
                        <th style="width: 15%;">Mesa</th>
                        <th style="width: 20%;">Orden</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-flat btnCreate">
                <i class="fas fa-save"></i> Guardar registro
            </button>
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync-alt"></i> Actualizar
            </a>
        </div>
    </div>

{% endblock %}