{% extends 'form.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_form %}
    <script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/bootstrap-touchspin-v4.2.5/css/jquery.bootstrap-touchspin.css' %}"/>
    <script src="{% static 'lib/bootstrap-touchspin-v4.2.5/js/jquery.bootstrap-touchspin.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}"/>
    <script src="{% static 'scm/purchase/js/form.js' %}"></script>
{% endblock %}

{% block content %}
    <form class="form" method="post" action="." enctype="multipart/form-data" id="frmPurchase"
          data-url="{% url 'purchase_list' %}">
        <div class="card {{ dshboard.card }}">
            <div class="card-header">
                <h3 class="card-title">
                    {% if action == 'add' %}
                        <i class="fas fa-plus"></i>
                    {% else %}
                        <i class="fas fa-edit"></i>
                    {% endif %}
                    {{ title }}
                </h3>
            </div>
            <div class="card-body" style="display: block;">
                <div class="container-fluid">
                    {% csrf_token %}
                    <input type="hidden" id="action" name="action" value="{{ action }}">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Fecha de registro:</label>
                                {{ form.date_joined }}
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="control-label">Buscar proveedor:</label>
                                <div class="input-group input-group-search">
                                    {{ form.provider }}
                                    <div class="input-group-append">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false"><i class="fas fa-tasks"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                            <a class="dropdown-item btnAddProvider">
                                                <i class="fas fa-plus"></i> Crear proveedor
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="control-label">Forma de pago:</label>
                                {{ form.payment_condition }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group inputCredit" style="display: none;">
                                <label class="control-label">Fecha plazo del credito:</label>
                                {{ form.end_credit }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Búsqueda de productos:</label>
                                <div class="input-group input-group-search">
                                    <input type="text" class="form-control" autocomplete="off" name="searchproducts"
                                           placeholder="Ingrese el nombre de un producto">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false"><i class="fas fa-tasks"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right" style="cursor: pointer;">
                                            <a class="dropdown-item btnSearchProducts"><i class="fas fa-search"></i>
                                                Buscar productos</a>
                                            <a class="dropdown-item btnClearProducts"><i class="fas fa-times"></i>
                                                Limpiar búsqueda</a>
                                            <a class="dropdown-item btnRemoveAllProducts"><i
                                                    class="fas fa-trash-alt"></i> Borrar todo</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table width="100%" class="table table-bordered display nowrap" id="tblProducts">
                                <thead>
                                <tr>
                                    <th style="width: 10%;">Eliminar</th>
                                    <th style="width: 25%;">Producto</th>
                                    <th style="width: 15%;">Categoría</th>
                                    <th style="width: 25%;">Cantidad</th>
                                    <th style="width: 15%;">Precio Unitario</th>
                                    <th style="width: 10%;">Subtotal</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </div>
    </form>
    <div id="myModalProvider" class="modal fade" role="dialog">
        <form class="form" id="frmProvider" method="POST">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <b><i class="fa fa-plus"></i> Nuevo registro de un proveedor</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {% for field in frmProvider.visible_fields %}
                                <div class="form-group">
                                    <label>{{ field.label }}:</label>
                                    {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btn-flat btn-block">
                            <i class="fas fa-save"></i> Guardar registro
                        </button>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div id="myModalSearchProducts" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <b><i class="fa fa-search"></i> Búsqueda de productos</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <table width="100%" class="table table-bordered display nowrap" id="tblSearchProducts">
                            <thead>
                            <tr>
                                <th style="width: 35%;">Nombre</th>
                                <th style="width: 15%;">Categoría</th>
                                <th style="width: 15%;">Precio de Compra</th>
                                <th style="width: 15%;">Precio de Venta</th>
                                <th style="width: 10%;">Stock</th>
                                <th style="width: 10%;">Agregar</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        $(function () {
            purchase.list_products();
        });
    </script>
{% endblock %}