.contact-image {
    text-align: center;
}

.lockscreen-wrapper {
    width: 450px;
}

.contact-image i {
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .login-box, .register-box {
        width: 90%;
        margin-top: 80px;
    }
}

.login-box p.desc {
    font-size: 14px;
}