{% extends 'skin.html' %}
{% load static %}
{% block head_body %}
    <script src="{% static 'lib/highcharts-8.0.4/highcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-8.0.4/highcharts-3d.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-8.0.4/modules/exporting.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-8.0.4/modules/data.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/highcharts-8.0.4/modules/drilldown.js' %}" type="text/javascript"></script>
{% endblock %}
{% load widget_tweaks %}
{% block breadcrumb %}
{% endblock %}
{% block content %}
    {% if request.user.is_client %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 mt-3">
                    <div class="card card-widget widget-user">
                        <div class="widget-user-header bg-gradient-red" style="height: auto;">
                            <h3 class="widget-user-username">
                                {{ company.name }}<br>
                                <b>LISTA 32</b>   
                                <!-- Ruc: {#{ company.ruc }} -->
                            </h3>
                            <br>
                            <h5 class="widget-user-desc" style="font-weight: normal;">
                                <b>Bienvenido {{ request.user.first_name }}</b><br>
                                Tu último acceso fue {{ request.user.last_login }}
                            </h5>
                        </div>
                        <img class="img-fluid mx-auto p-3" style="width: 500px; height: 500px;"
                             src="{{ company.get_image }}" alt="User Avatar">
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <i class="fas fa-phone-volume fa-3x p-3"></i>
                                        <h5 class="description-header font-weight-bold mb-2">
                                            Teléfono
                                        </h5>
                                        <span class="description-text">
                                            {{ company.mobile }} / {{ company.phone }}
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <i class="fas fa-envelope fa-3x p-3"></i>
                                        <h5 class="description-header font-weight-bold mb-2">
                                            Email
                                        </h5>
                                        <span class="description-text">
                                            {{ company.email }}
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-6 border-right">
                                    <div class="description-block">
                                        <i class="fas fa-location-arrow fa-3x p-3"></i>
                                        <h5 class="description-header font-weight-bold mb-2">
                                            Dirección
                                        </h5>
                                        <span class="description-text">
                                            {{ company.address }}
                                        </span>
                                    </div>
                                    <!-- /.description-block -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="description-block">
                                        <i class="fab fa-internet-explorer fa-3x p-3"></i>
                                        <h5 class="description-header font-weight-bold mb-2">
                                            Pagina Web
                                        </h5>
                                        <span class="description-text">
                                            {{ company.website }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">   
                    <a href="{% url 'elector_list' %}" style="color:rgb(0, 0, 0)">         
                        <div class="info-box">                        
                            <span class="info-box-icon bg-info"><i class="fas fa-user-friends" ></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Padrón</span>
                                    <span class="info-box-number">
                                        {{ total_padron }}
                                    </span>
                                </div>                               
                        </div>
                    </a> 
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="fas fa-user-friends"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Ubicados</span>
                            <span class="info-box-number">
                        {{ total_ubicados }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="fas fa-thumbs-up"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Votos a Favor</span>
                            <span class="info-box-number">
                        {{ votos_positivos }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="fas fa-thumbs-down"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Otros Votos</span>
                            <span class="info-box-number">
                        {{ votos_negativos }}
                    </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">               

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-calendar-check"></i> Control Día D </h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="container-fluid p-3" id="graph_dia_d_bar">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-box"></i> Control Día D </h3>
                        </div>
                        <div class="card-body p-0">
                            <div id="graph_dia_d" style="height: 64vh;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">               
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-box"></i> Electores por Seccional </h3>
                        </div>
                        <div class="card-body p-0">
                            <div id="graph_electores_seccional" style="height: 64vh;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-box"></i> Preferencia de Votos </h3>
                        </div>
                        <div class="card-body p-0">
                            <div id="graph_preferencia_votos" style="height: 64vh;"></div>
                        </div>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-box"></i> Rango Edades Elector </h3>
                        </div>
                        <div class="card-body p-0">
                            <div id="graph_rango_edades_pie" style="height: 64vh;"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-calendar-check"></i> Comparativo Edades Elector</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="container-fluid p-3" id="graph_rango_edades">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">               
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-calendar-check"></i> Control Preferencia de Votos</h3>
                        </div>
                        <div class="card-body p-0">
                            <div class="container-fluid p-3" id="graph_control_preferencia_votos">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                // GRAFICO CONTROL DIA D
                var graph_dia_d = Highcharts.chart('graph_dia_d', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Total: <b>{point.y:.0f} Unidades</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                });

                function get_graph_dia_d() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_dia_d'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            graph_dia_d.addSeries(request);
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                // GRAFICO ELECTORES POR SECCIONAL
                var graph_electores_seccional = Highcharts.chart('graph_electores_seccional', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Total: <b>{point.y:.0f} Unidades</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                });

                function get_graph_electores_seccional() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_electores_seccional'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            graph_electores_seccional.addSeries(request);
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                // GRAFICO PREFERENCIA DE VOTOS
                var graph_preferencia_votos = Highcharts.chart('graph_preferencia_votos', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Total: <b>{point.y:.0f} Unidades</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                });

                function get_graph_preferencia_votos() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_preferencia_votos'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            graph_preferencia_votos.addSeries(request);
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }
                

                // GRAFICO RANGO DE EDADES PIE
                var graph_rango_edades_pie = Highcharts.chart('graph_rango_edades_pie', {
                    chart: {
                        type: 'pie',
                        options3d: {
                            enabled: true,
                            alpha: 45,
                            beta: 0
                        }
                    },
                    exporting: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    accessibility: {
                        point: {
                            valueSuffix: '%'
                        }
                    },
                    tooltip: {
                        pointFormat: 'Total: <b>{point.y:.0f} Unidades</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            depth: 35,
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            }
                        }
                    },
                });

                function get_graph_rango_edades_pie() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_rango_edades_pie'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            graph_rango_edades_pie.addSeries(request);
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                function get_graph_dia_d_bar() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_dia_d_bar'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            Highcharts.chart('graph_dia_d_bar', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: ''
                                },
                                subtitle: {
                                    text: ''
                                },
                                exporting: {
                                    enabled: false
                                },
                                xAxis: {
                                    categories: [
                                    'CONTROL'                                 
                                    ],
                                    crosshair: true
                                },
                                yAxis: {
                                    // min: 0,
                                    title: {
                                        text: 'Cantidad Electores'
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    },
                                    series: {
                                        dataLabels: {
                                            enabled: true,
                                            style: {
                                                fontSize: 20 + 'px'
                                            }
                                        }
                                    }
                                },
                                series: request
                            });
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                //GRAFICO BARRA RANGO DE EDADES
                function get_graph_rango_edades() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_rango_edades'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            Highcharts.chart('graph_rango_edades', {
                                chart: {
                                    type: 'bar'
                                },
                                title: {
                                    text: ''
                                },
                                subtitle: {
                                    text: ''
                                },
                                exporting: {
                                    enabled: false
                                },
                                xAxis: {
                                    categories: [
                                    '18 a 25',
                                    '26 a 30',
                                    '31 a 35',
                                    '36 a 40',
                                    '41 a 45',
                                    '46 a 50',
                                    '51 a 55',
                                    '56 a 60',
                                    '61 a 65',
                                    '66 a 70',
                                    '71 a 75',
                                    '75 y más'
                                    ],
                                    crosshair: true
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Cantidad Electores'
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    }
                                },
                                series: request
                            });
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                //GRAFICO BARRA CONTROL PREFERENCIA DE VOTOS
                function get_graph_control_preferencia_votos() {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'get_graph_control_preferencia_votos'
                        },
                        dataType: 'json',
                    }).done(function (request) {
                        if (!request.hasOwnProperty('error')) {
                            Highcharts.chart('graph_control_preferencia_votos', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: ''
                                },
                                subtitle: {
                                    text: ''
                                },
                                exporting: {
                                    enabled: false
                                },
                                xAxis: {
                                    categories:['LISTAS'],
                                    crosshair: true
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Cantidad Electores'
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                        '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                                    footerFormat: '</table>',
                                    shared: true,
                                    useHTML: true
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    },
                                    series: {
                                        dataLabels: {
                                            enabled: true,
                                            style: {
                                                fontSize: 12 + 'px'
                                            }
                                        }
                                    }
                                },
                                series: request
                            });
                            return false;
                        }
                        message_error(request.error);
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + ': ' + errorThrown);
                    }).always(function (data) {

                    });
                }

                function init() {
                    get_graph_dia_d();
                    get_graph_dia_d_bar();
                    get_graph_electores_seccional();
                    get_graph_preferencia_votos();
                    get_graph_rango_edades_pie();
                    get_graph_rango_edades();
                    get_graph_control_preferencia_votos();
                }

                $(function () {
                    init();
                });
            </script>
        </div>
    {% endif %}
{% endblock %}